let mapleader = " "

set relativenumber
set scrolloff=8
set incsearch
set nohlsearch

set surround
set commentary
set multiple-cursors

nnoremap <leader>pf :action GotoClass<CR>
nnoremap <leader>pv :action GotoFile<CR>
nnoremap gd :action GotoDeclaration<CR>

vnoremap J :m '>+1<CR>gv=gv
vnoremap K :m '<-2<CR>gv=gv 