[Desktop Entry]
Name=Hyprland (dotfiles)
Comment=Hyprland using the config in {{ dotfiles_dir }}/hypr
Exec=/usr/bin/start-hyprland -- -c {{ dotfiles_dir }}/hypr/hyprland.lua
TryExec=/usr/bin/start-hyprland
Type=Application
DesktopNames=Hyprland
Keywords=tiling;wayland;compositor;
