[Unit]
Description=Signal
PartOf=graphical-session.target
Wants=quickshell.service
After=graphical-session.target quickshell.service
Requisite=graphical-session.target

[Service]
ExecStart=/usr/bin/signal-desktop --start-in-tray
Restart=on-failure
RestartSec=2

[Install]
WantedBy=graphical-session.target
